/* main.css */


/* @import "vendors/reset.css"; */

@import "vendors/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* typography */


body {
   font-family: 'Poppins', sans-serif;
}

h1 {
   font-size: 48px;
   font-weight: bold;
   margin: 10px;
   color:black;
}

h2 {
   margin: 10px;
   font-size: 30px;
   color: #EDB730;
}

h3 {
   margin: 10px;
   font-size: 30px;
   font-weight: 600;
}

p,
ul,
nav a,
footer {
   font-size: 24px;
   margin: 10px;
   font-weight: 500;
}

/* Main Navigation */

nav a {
   color: orange;
   display: block;
   padding: 0.39rem;
   text-decoration: none;
}

nav a:visited {
   color: brown;
}

nav a:hover {
   color: black;
}

nav>ul {
   padding: 0;
}

nav ul {
   list-style-type: none;
}

nav .sub-nav {
   height: 0;
   overflow: hidden;
}

nav a+.sub-nav {
   transition: height 0.3s;
}


nav a:hover+.sub-nav,
nav .sub-nav:hover {
   height: 150px;
}

/* Background */

body {
   background-image: url("../images/cacti.jpg");
   background-size: cover;
   background-position: fixed;
}

img {
   padding : 10px;
}

video {
   padding: 10px;
}