/* main.css */


/* @import "vendors/reset.css"; */

@import "vendors/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* typography */


body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 450;
}

h1 {
   font-size: 48px;
   font-weight: bold;
   margin: 10px;
   color:black;
}

h2 {
   margin: 10px;
   font-size: 36px;
   color: #EDB730;
}

h3 {
   margin: 10px;
   text-decoration: underline ;
   font-size: 36px;
}

p{
   font-size: 24px;
   margin: 10px;
   font-weight: 500;
}

ul {
   margin:10px;
   font-size: 24px;
   font-weight: 500;
}

img {
   margin-top: 10px;
}

nav a{
   color: orange;
}

nav a:visited{
   color: brown;
}

footer {
   font-weight: 500;
   font-size: 24px;
}

/* Background Image */

body {
   background-image: url("../images/cacti.jpg");
   background-size: cover;
}
